/* Fonts */
@font-face {
    font-family: Roboto;
    src: url('./fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#title {
    font-family: Roboto;
}

#mapid {
    height: 100%;
    width: 100%;
}

/* Legend styles */
.legend {
    position: absolute;
    bottom: 30px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 14px;
    z-index: 1000;
    /* Ensure it appears above other elements */
}

.legend h4 {
    margin: 0 0 5px;
}

.legend div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend div span {
    margin-left: 5px;
}

.legend .circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

/* Back button styles */
.back-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    z-index: 1000;
    /* Ensure it appears above other elements */
}

/* Text box styles */
.info-box {
    position: absolute;
    top: 5%;
    left: 80%;
    right: 2%;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: 'Lexend-SemiBold', Arial, sans-serif;
    font-size: 14px;
    z-index: 1000;
    /* Ensure it appears above other elements */
    max-height: 50%;
    overflow-y: auto;
    /* Enable scrolling */
}

/* Style for info-box header */
.info-box h1 {
    font-family: 'Slaytanic', Arial, sans-serif;
    text-align: center;
}

/* Style for popup date */
.popup-datetime h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    padding: 1px 0;
}

/* Style for popup time */
.popup-time {
    font-size: 1em;
    /* Slightly smaller than the date */
    margin: 0;
}

/* Style for popup artist details */
.popup-artist {
    margin: 1px 0;
    /* Reduce margin between features */
}

.popup-artist-details {
    display: inline-block;
    vertical-align: middle;
}

.popup-artist-name {
    font-weight: bold;
    margin: 0;
    /* Remove any default margins */
    text-decoration: none;
    color: inherit;
    /* Use the inherited text color */
    padding: 1px 0;
    /* Reduce padding */
}

.popup-artist-name:hover {
    text-decoration: underline;
    /* Underline on hover for better UX */
}

/* Styles for mobile devices */
@media (max-width: 768px) {
    .info-box {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
        padding: 10px;
        max-height: 30%;
        /* Limit the height */
    }

    .legend {
        top: 10px;
        bottom: auto;
        right: 10px;
    }
}

/* Reset styles for larger screens */
@media (min-width: 769px) {
    .info-box {
        top: 5%;
        left: 80%;
        right: 2%;
        width: auto;
        border-radius: 5px;
        padding: 20px;
        max-height: 50%;
        /* Limit the height */
        overflow-y: auto;
        /* Enable scrolling */
    }

    .legend {
        bottom: 30px;
        right: 10px;
        top: auto;
    }
}

.popup-location {
    font-weight: bold;
    font-size: x-large;
    font-family: 'Slaytanic', Arial, sans-serif;
    text-align: center;
}

/* Description Box Styles */
.description {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 300px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    overflow: hidden;
    z-index: 900;
}

#toggle-description {
    background: #333;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#description-content {
    display: none;
    /* Hidden initially */
}

.description.expanded #description-content {
    display: block;
    /* Show content when expanded */
}

.description.minimized {
    max-height: 50px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .description {
        width: 90%;
        right: 5%;
        bottom: 20px;
        left: 5%;
    }

    #toggle-description {
        font-size: 18px;
    }
}

.card-img-top {
    object-fit: cover;
    width: 50%;
    height: auto;
    /* Adjust height according to your preference */
}